<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Side a Lama</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<div th:replace="fragments::header"></div>

<main class="container">
    <h1>Menu</h1>
    <section class="game-menu">
            <a class="game-card" href="/sidealama/Choose">play</a>
            <a class="game-card" >comments</a>
            <a class="game-card">score</a>

    </section>
</main>
<div class = "down">
</div>
<div th:replace="fragments::footer"></div>
</body>
</html>